.article-header {
    margin-top: 10px;
    background-color: rgb(13, 108, 112);
    text-align: center;
    border: 3px solid transparent;
    color: aliceblue;
}
.section-content{
    margin-top: 15px;
    margin-right: 10%;
    margin-left: 10%;
}
.add-user{
    margin-top: 15px;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 5px;  
   float: right;
  }
   